# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Program specific
pobrane_filmy/

# Logs
*.log

# Config files
.env